ul.slds-carousel__indicators 
{
  display:flex;
  margin:0.5rem 0px;
}


li.slds-carousel__indicator
{
  display:flex;
  margin:0px 0.25rem;
}

.slds-radio_faux
{
  padding-right: 8px !important;
  padding-left: 8px !important;
}
